.notiUserListContainer {
  display: flex;

  & > .select2-container {
    flex: 1;
  }
}

.notiGroupContainer {
  width: 18%;
  min-width: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 36px;

  * {
    box-sizing: border-box;
  }
}

.notiGroupSmallContainer {
  width: 100%;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1023px) {
  .notiUserListContainer {
    display: block;
  }

  .notiGroupContainer {
    margin-bottom: 10px;
    width: 50%;
  }
}